node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
*.pyc
nul
/solver/img_tmp
/data/explained
logs/
/temp

JFPuget.mp4
external/SnakeBench/backend/completed_games_videos/

jBudd1.mp4
jBudd2.mp3
jBudd2.mp4
/coverage
evaluation_results/
